.cartItemRow {
    display: flex;
    align-items: center;
}

.cartItemRemove {
    cursor: pointer;
}

.cartItemDec {
    cursor: pointer;
}

.cartItemAdd {
    cursor: pointer;
}

.cartItemRow>div {
    margin-right: 5px;
    font-size: 20px;
}

.cartItemTitle {
    font-size: 18px;
    font-weight: bold;
}

.cartItem {
    margin-bottom: 30px;
}

.cartItemImg {
    width: 400px;
}